# Configuración del servidor backend
PORT=3002
NODE_ENV=development

# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=panel_waze
DB_USER=postgres
DB_PASSWORD=CASISA

# Configuración de Redis (opcional)
REDIS_HOST=localhost
REDIS_PORT=6379

# Configuración de Waze (si aplica)
# WAZE_PARTNER_ID=tu_partner_id_aqui
